@import '../../../../../../theme/common-variable.scss';
@import '../../../../../../theme/common-style.scss';
.project-content{
    padding: 10px;
    width: 100%;
    min-height: 100%;
    background-color: #EEEEEE;
    display: flex;
    flex-direction: column;
    align-items: center;
}
ion-row{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header{
    width: $contentPercent;
    display: flex;  
    align-items: center;
    justify-content: space-between;
}
.box{
    display: flex;
    align-items: center;
}
.td-padding{
    padding: 10px;
}
.img-width{
    width: 80%;
}
.second-td-padding{
    padding-top: 50px;
}
.title-box{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}
ion-label{
    color: #F49739;
}
#item-table{
    .project-title{
        font-weight: bold;
    }
    table-row{
        display: table-row;
    }
    .item-align{
        text-align: left;
        vertical-align: center;
    }
    ion-input{
        margin-left: -9px;
    }
    .selected{
        background: lightblue;
    }
    .pointer{
        cursor: pointer;
    }
}
.manage-box{
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
}
.right-align{
    display: flex;
    justify-content: flex-end;
}
.right-align-input{
    text-align: right;
}
textarea{
    width: 100%;
    height: 100px;
}