<ion-content >
  <div class="project-content">
    
    <div class="header">
      <h1>Cash Collection</h1>
    </div>
    <div class="main-content">
      <div class="big-container">
        <div class="action">
          <ion-button size="small" (click)="create()">Create</ion-button>
          <ion-button size="small" (click)="remove()">Remove</ion-button>
          <ion-button size="small" (click)="save()">Save</ion-button>
        </div>
        <app-finance-collection-table></app-finance-collection-table>
      </div>
    </div>
  </div>
</ion-content>
