<ion-tabs>
  <ion-tab-bar slot="top" class="xl-left">

    <ion-tab-button class="back-button"  *ngIf="!isManager" (click)="back()">
      <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
    </ion-tab-button>


    <ion-tab-button tab="general-information">
      <ion-label>Genral Information</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="contact-information">
      <ion-label>Contact Information</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="login-information" *ngIf="isManager">
      <ion-label>Login Information</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="invoicing" *ngIf="!isManager">
      <ion-label>invoicing</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="rate">
      <ion-label>Rate</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="net-rate" *ngIf="!isManager">
      <ion-label>Net Rate</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
