// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  --ion-color-primary: #0f4c81;
  --ion-color-primary-rgb: 15,76,129;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #0d4372;
  --ion-color-primary-tint: #275e8e;

  --ion-color-secondary: #197acf;
  --ion-color-secondary-rgb: 25,122,207;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #166bb6;
  --ion-color-secondary-tint: #3087d4;

  --ion-color-tertiary: #9fb7cd;
  --ion-color-tertiary-rgb: 159,183,205;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0,0,0;
  --ion-color-tertiary-shade: #8ca1b4;
  --ion-color-tertiary-tint: #a9bed2;

  --ion-color-success: #d2e28d;
  --ion-color-success-rgb: 210,226,141;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0,0,0;
  --ion-color-success-shade: #b9c77c;
  --ion-color-success-tint: #d7e598;

  --ion-color-warning: #e8a188;
  --ion-color-warning-rgb: 232,161,136;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #cc8e78;
  --ion-color-warning-tint: #eaaa94;

  --ion-color-danger: #f36e8e;
  --ion-color-danger-rgb: 243,110,142;
  --ion-color-danger-contrast: #000000;
  --ion-color-danger-contrast-rgb: 0,0,0;
  --ion-color-danger-shade: #d6617d;
  --ion-color-danger-tint: #f47d99;

  --ion-color-dark: #041421;
  --ion-color-dark-rgb: 4,20,33;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #04121d;
  --ion-color-dark-tint: #1d2c37;

  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152,154,162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244,244,244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}
