@import '../../../../../../theme/common-variable.scss';
@import '../../../../../../theme/common-style.scss';
.project-content{
    padding: 10px;
    width: 100%;
    min-height: 100%;
    background-color: #EEEEEE;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header{
    width: $contentPercent;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.box{
    display: flex;
    align-items: center;
}
.second-block{
    margin-top: 15px;
}