<ion-tabs>
  <ion-tab-bar slot="top" class="xl-left">
    <ion-tab-button tab="file">
      <ion-icon name="folder"></ion-icon>
      <ion-label>Project</ion-label>
    </ion-tab-button>
<!-- 
    <ion-tab-button tab="workflow">
      <ion-icon name="quote"></ion-icon>
      <ion-label>WorkFlow</ion-label>
    </ion-tab-button> -->

    <!-- <ion-tab-button tab="team">
      <ion-icon name="people"></ion-icon>
      <ion-label>Teams</ion-label>
    </ion-tab-button> -->

    <ion-tab-button tab="transaction/quote">
      <ion-icon name="logo-usd"></ion-icon>
      <ion-label>Accounting</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
