<div *ngIf="(projects$ | async)?.length === 0" style="margin-top: 40px; text-align: center;">
  No projects yet.
</div>

<div *ngIf="!(projects$ | async)" style="margin-top: 40px; text-align: center;">
  Fetching projects...
</div>

<div *ngIf="(projects$ | async)?.length">
  <div class="table-container">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef class="selection-header">
          <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </td>
      </ng-container>
      
      <ng-container matColumnDef="ID">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="id-header"> 
          ID 
        </th>
        <td mat-cell *matCellDef="let i = index"> 
          {{ i + 1 }}
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="name-header"> 
          Name 
        </th>
        <td mat-cell *matCellDef="let element"> 
          {{ element.name }}
        </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="status-header"> 
          Status 
        </th>
        <td mat-cell *matCellDef="let element"> 
          {{ element.status }}
        </td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="type-header"> 
          Service Type 
        </th>
        <td mat-cell *matCellDef="let element"> 
          {{ element.serviceType }}
        </td>
      </ng-container>

      <ng-container matColumnDef="client">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="client-header"> 
          Client
        </th>
        <td mat-cell *matCellDef="let element" > 
          <span *ngIf="element.clientId=='Empty'"></span>
          <span *ngIf="element.clientId!='Empty'">{{ element.client.profile.givenName +  element.client.profile.familyName }}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="manage">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="manager-header"> 
          Manager
        </th>
        <td mat-cell *matCellDef="let element"> 
          <span *ngIf="element.managerId=='Empty'"></span>
          <span *ngIf="element.managerId!='Empty'">{{ element.manager.profile.givenName +  element.manager.profile.familyName }}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="dueDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="duedate-header"> 
          Due Date
        </th>
        <td mat-cell *matCellDef="let element"> 
          {{ element.dueDate}}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr  mat-row *matRowDef="let row; columns: displayedColumns;"
          (click)="openDialog(row)"></tr>
    </table>
  </div>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

</div>
