<ion-tabs>
  <ion-tab-bar slot="top" class="xl-left">

    <ion-tab-button tab="clients">
      <!-- <ion-icon name="folder"></ion-icon> -->
      <ion-label>Clients</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="services">
      <!-- <ion-icon name="logo-usd"></ion-icon> -->
      <ion-label>Services</ion-label>
    </ion-tab-button>

    <!-- <ion-tab-button tab="net-rate" *ngIf="userId != ''">
      <ion-label>Net Rate Schemes</ion-label>
    </ion-tab-button> -->

    <ion-tab-button tab="rates">
      <!-- <ion-icon name="logo-usd"></ion-icon> -->
      <ion-label>Rates</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
