<ion-content>

  <ion-grid style="height: 100%; padding: 0;">
    <ion-row class="ion-align-items-center" style="">
      <ion-col offset-md=0 size-md=12 offset-lg=4 size-lg=4>
        <ion-card>
          <div class="header">
            <img src="/assets/prolocalize-logo_sign.png" alt="Prolocalize">
            <span class="header-text">Prolocalize</span>
          </div>
          <ion-card-content style="padding: 10px 10% 30px 10%;">

            <ion-item>
              <!-- <ion-label position="floating">Email</ion-label> -->
              <ion-input placeholder="Email" [(ngModel)]="userEmail" type="email"></ion-input>
            </ion-item>
            <ion-item>
              <!-- <ion-label position="floating">Password</ion-label> -->
              <ion-input placeholder="Password" [(ngModel)]="userPassword" type="password" (keyup)="onKey($event)"></ion-input>
            </ion-item>
            <div class="forgoten-password">
                <a [routerLink]="'/forgotten-password'"> Forgotten password? </a>
            </div>
            <div class="button-container">
              <ion-button class="singin-button" (click)="signIn()" size="small" color="secondary">
                Sign In
              </ion-button>
            </div>

            <div class="ion-text-center" style="margin-top:30px;">
              <div> You don't have an account? </div>
              <a [routerLink]="'/signup'"> Sign Up! </a>
            </div>

          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>