<ion-content>

  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col  offset-md=2 size-md=8 offset-lg=3 size-lg=6>

        <ion-card style="margin-top: 10vh">

          <ion-card-header>
            <ion-card-title style="
                                   text-align: center; 
                                   font-weight:bold; 
                                   font-size: 25px;
                                   ">
               Forgotten Password
            </ion-card-title>
          </ion-card-header>

          <ion-card-content style="padding: 10px 10% 30px 10%;">

            <ion-item style="margin-top:-20px;">
              <ion-label position="floating">Email</ion-label>
              <ion-input type="email"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating">Verify email</ion-label>
              <ion-input type="email"></ion-input>
            </ion-item>

            <div class="ion-text-center" style="margin-top: 30px;">
              <ion-button>Recover password</ion-button>
            </div>

            <div class="ion-text-center" style="margin-top:30px;">
              <div> Do you already have an account? </div>
              <a (click)="backToSignin()"> Back to Signin </a>
            </div> 

          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
