<ion-content>

  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col  offset-md=2 size-md=8 offset-lg=3 size-lg=6>

        <ion-card style="margin-top: 10vh">

          <ion-card-header>
            <ion-card-title style="
                                   text-align: center; 
                                   font-weight:bold; 
                                   font-size: 25px;
                                   ">
               Reset your password
            </ion-card-title>
          </ion-card-header>

          <ion-card-content style="padding: 10px 10% 30px 10%;">

            <ion-item>
              <!-- <ion-label position="floating" style="font-size: 13px;">Email</ion-label> -->
              <ion-input type="email" placeholder="Email" [(ngModel)]="forgetEmail"></ion-input>
            </ion-item>
            <ion-item style="margin-top:-20px;" *ngIf="verifyCodeState">
              <!-- <ion-label position="floating" style="font-size: 13px;">Verify Code</ion-label> -->
              <ion-input type="text" placeholder="Verify Code" [(ngModel)]="verifyCode"></ion-input>
            </ion-item>
            <ion-item style="margin-top:-20px;" *ngIf="verifyCodeState">
              <!-- <ion-label position="floating" style="font-size: 13px;">New Password</ion-label> -->
              <ion-input type="password" placeholder="New Password" [(ngModel)]="newPassword"></ion-input>
            </ion-item>
            <div class="ion-text-center" style="margin-top: 30px;">
              <ion-button style = "width: 100%;" color = "secondary" size="small" (click)="recoverPassword()">{{buttonText}}</ion-button>
            </div>

            <div class="ion-text-center" style="margin-top:30px;">
              <div> Do you already have an account? </div>
              <a (click)="backToSignin()" style="cursor: pointer;"> Back to Signin </a>
              <a (click)="resendEmail()" style="cursor: pointer;"> Resend code </a>
            </div> 

          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
<!-- <ion-content padding>  
  <amplify-authenticator username-alias="email" framework="ionic"></amplify-authenticator>
</ion-content> -->
