<ion-tabs>
  <ion-tab-bar slot="top" class="xl-left">

    <ion-tab-button tab="quotation">
      <!-- <ion-icon name="folder"></ion-icon> -->
      <ion-label>Quotation/Purchase Order</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="invoice">
      <!-- <ion-icon name="logo-usd"></ion-icon> -->
      <ion-label>Tax invoice / Invoice</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="cash-collection">
      <!-- <ion-icon name="logo-usd"></ion-icon> -->
      <ion-label>Cash-Collection</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
