<ion-content >
  <div class="project-content">
    <div class="block">
      <div class="header">
        <h1>Client</h1>
      </div>
      <div class="main-content">
        <div class="header">
          <h1>Team</h1>
          <div class="box">
            <ion-button  (click)="create()" size="small">Create</ion-button>
          </div>
        </div>
      </div>  
    </div>
    
    <div class="block">
      <div class="header">
        <h1>Client</h1>
      </div>
      <div class="main-content">
        <div class="header">
          <h1>Team</h1>
          <div class="box">
            <ion-button  (click)="create()" size="small">Create</ion-button>
          </div>
        </div>
      </div>  
    </div>

  </div>
</ion-content>